body {
margin: 0;
background: #ffff;
height: 100vh;
color: #28282888;
background: ;
background-size: cover;
background-position: 50% 50%;
width: 100vw;
overflow-x: hidden;
}
@keyframes svg-text-anim {
40% {
filter: drop-shadow(2px -2px #00000082);
stroke-dashoffset: 0;
fill: transparent;
}
50% {filter: drop-shadow(2px 2px 2px #00000084) drop-shadow(0 0 8px #ffffff);}
60% {
filter: drop-shadow(4px -1px 2px #b0ced744) drop-shadow(0 0 12px #eeeeeebb) drop-shadow(0px 0px 18px #ff11ef44);
stroke-dashoffset: 0;
fill: #ffffff;
}
80% {
filter: drop-shadow(4px -1px 2px #b0ced744) drop-shadow(0 0 4px #eeeeeebb) drop-shadow(0px 0px 0px #1145ff88);
}
100% {
filter: drop-shadow(2px 2px #4b6565) drop-shadow(0 0 12px #ffffff) drop-shadow(0px 0px 40px #ffff8822);
stroke-dashoffset: 0;
fill: #ffffffdd;
}
}
@keyframes aaaa {
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}
html{

scroll-behavior: smooth;
}
.hi{
height: 100vh;
background: #22222222;
display: block;
display: flex;
justify-content: center
}
#hello{
background: #ff008822;
}
#hello2{
background: #668888bb;
}
.site {
height:100vh ;
width: 100vw;
display: flex;
align-items: center;
align-content: center;
flex-direction: column;
justify-content: center;
}
.svg-holder {
margin-top: 22vh;
width: 100%;
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
}

.holder1 {
margin-top: 2em;
padding:1.4em;
padding-bottom: 0;
width: ;
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
opacity: 0;
animation: aaaa 1s 4s forwards;
background: #ffffffbb;
}
.holder2 {
/* border-top: 1px dashed #000000; */
padding:1.4em;
padding-top: 0;
background: #ffffffbb;
display: flex;
justify-content: center;
flex-wrap: wrap;
flex-direction: row;
opacity: 0;
animation: aaaa 1s 4s forwards;
margin-bottom: 8vh;
}
.down {
padding: 2em;
width: 40px;
opacity: 0;
animation: aaaa 1s ease-out 5s 1 forwards;
filter: opacity(0.2);
}
a,
a:visited,
a:active {
transition: ease-out 2s;
color: #4a99b3;
font-weight: 600;
outline: 2px dotted #44888800;
text-decoration: 2px underline dashed #233e3e88;
}
a:hover,
a:visited:hover,
a:active:hover {
transition: ease-out 2s;
border-radius: 22px;
color: #00e1ff;
outline: 22px dotted #bbbbbb;
outline-offset: 2px;
}
code {
color: ;
letter-spacing: 0.12em;
font-size: large;
}
svg {
max-width: 88vw;
overflow: visible;
}